<!-- page content -->
{% extends "base.html" %}
{% block content %}
{% load humanize%}
<!-- page content -->
{% load humanize%}
 <div class="right_col" role="main">
          <div class="">
         
          <div class="page-title">
              <div class="title_left">
                <h3>Concept Note :: Activity</h3>
              </div>

              
            </div>
            <div class="clearfix"></div>

            <div class="row">
              <div class="col-md-12 col-sm-12  ">
                <div class="x_panel">
                  <div class="x_title">
                    <h2>Activity Approval Report</h2>
                    <ul class="nav navbar-right panel_toolbox">
                      <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                      </li>
                      <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-wrench"></i></a>
                        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                            <a class="dropdown-item" href="#">Settings 1</a>
                            <a class="dropdown-item" href="#">Settings 2</a>
                          </div>
                      </li>
                      <li><a class="close-link"><i class="fa fa-close"></i></a>
                      </li>
                    </ul>
                    <div class="clearfix"></div>
                  </div>
                   

<p>Activity Title: <strong>{{ activity.title }}</strong>  &emsp; ID: <strong>{{ activity.acn_number }}</strong></p> 
<p>Intervention Title: <strong>{{ activity.icn.title }}</strong>  &emsp; ID: <strong>{{ activity.icn.icn_number }}</strong></p> 

                            
                    <section class="content invoice">
                      <!-- title row -->
                     
                      <!-- info row -->
                      <div class="row invoice-info">
                        <div class="col-sm-4 invoice-col">
                          Initited By:
                          <address>
                                          <strong>{{activity.user.profile.full_name}}</strong>
                                          <br>{{activity.user.profile.job_title}}
                                          <br>{{activity.user.profile.portfolio}}
                                         
                                          <br>{{activity.user.email }}
                                      </address>
                        </div>
                        <!-- /.col -->
                        <div class="col-sm-4 invoice-col">
                          Techncial Lead:
                          <address>
                                          <strong>{{activity.technical_lead.user.profile.full_name}}</strong>
                                           <br>{{activity.technical_lead.user.profile.job_title}}
                                          <br>{{activity.technical_lead.user.profile.portfolio}}
                                         
                                          <br>{{activity.technical_lead.user.email }}
                                      </address>
                        </div>
                         <div class="col-sm-4 invoice-col">
                          MEL Lead:
                          <address>
                                          <strong>{{activity.mel_lead.user.profile.full_name}}</strong>
                                           <br>{{activity.mel_lead.user.profile.job_title}}
                                          <br>{{activity.mel_lead.user.profile.portfolio}}
                                       
                                          <br>{{activity.mel_lead.user.email }}
                                      </address>
                        </div>
                        <!-- /.col -->

                          <div class="col-sm-4 invoice-col">
                          </div>
                       <div class="col-sm-4 invoice-col">
                          Finance Lead:
                          <address>
                                           <strong>{{activity.finance_lead.user.profile.full_name}}</strong>
                                         <br>{{activity.finance_lead.user.profile.job_title}}
                                          <br>{{activity.finance_lead.user.profile.portfolio}}
                                         
                                          <br>{{activity.finance_lead.user.email }}
                                      </address>
                        </div>
                           <div class="col-sm-4 invoice-col">
                          Program Lead:
                          <address>
                                          <strong>{{activity.program_lead.user.profile.full_name}}</strong>
                                          <br>{{activity.program_lead.user.profile.job_title}}
                                          <br>{{activity.program_lead.user.profile.portfolio}}
                                         
                                          <br>{{activity.program_lead.user.email }}
                                      </address>
                        </div>
                        <!-- /.col -->
                      </div>
                      <!-- /.row -->

                      <!-- Table row -->
                      <div class="row">
                        <div class="  table">
                          <table class="table table-striped">
                            <thead>
                              <tr>
                                <th>#</th>
                                <th style="width:22%">Team Lead</th>
                                <th style="width:12%">Modified Date</th>
                                  <th style="width:12%">Status</th>
                                <th style="width:50%" class="text-center">Submission/Approval Note</th>
                              
                               
                              </tr>
                            </thead>
                            <tbody>
                              <tr>
                                <td>1</td>
                                <td>Initiator</br>{{activity.user.profile.full_name}}</td>
                                <td>{{activitysubmit.submission_date|date:"M d,Y" }}
                                </br> {{activitysubmit.submission_date|time }}
                                </td>
                                <td>{{activitysubmit.submission_status.name }}
                                </td>
                                <td>{{activitysubmit.submission_note}}</td>
                                
                              </tr>
                              <tr>
                                <td>2</td>
                                <td>Techncial Lead</br>{{activity.technical_lead.user.profile.full_name}}</td>
                                <td>{{activitysubmit.activitysubmitapproval_t.approval_date|date:"M d, Y"}}
                                </br> {{activitysubmit.activitysubmitapproval_t.approval_date|time}}
                                </td>
                                 <td>{{activitysubmit.activitysubmitapproval_t.approval_status.name}}
                                </td>
                                <td>{{activitysubmit.activitysubmitapproval_t.approval_note }}</td>
                               
                              </tr>
                                 <tr>
                                <td>3</td>
                                <td>MEL Lead</br>{{activity.mel_lead.user.profile.full_name}}</td>
                                <td>{{activitysubmit.activitysubmitapproval_m.approval_date|date:"M d, Y"}}
                                </br> {{activitysubmit.activitysubmitapproval_m.approval_date|time}}
                                </td>
                                 <td>{{activitysubmit.activitysubmitapproval_m.approval_status.name}}
                                </td>
                                <td>{{activitysubmit.activitysubmitapproval_m.approval_note }}</td>
                               
                              </tr>
                              <tr>
                               <td>4</td>
                                <td>Finance Lead</br>{{activity.finance_lead.user.profile.full_name}}</td>
                                <td>{{activitysubmit.activitysubmitapproval_f.approval_date|date:"M d, Y" }}
                                </br>{{activitysubmit.activitysubmitapproval_f.approval_date|time }}
                                </td>


                                <td>{{activitysubmit.activitysubmitapproval_f.approval_status.name }}
                                </td>
                                <td>{{activitysubmit.activitysubmitapproval_f.approval_note }}</td>
                                
                              </tr>
                              <tr>
                                <td>5</td>
                                <td>Program Lead</br>{{activity.program_lead.user.profile.full_name}}</td>
                                <td>{{activitysubmit.activitysubmitapproval_p.approval_date|date:"M d, Y" }}
                                </br>{{activitysubmit.activitysubmitapproval_p.approval_date|time }}
                                </td>
                                <td>{{activitysubmit.activitysubmitapproval_p.approval_status.name }}
                                </td>
                                <td>{{activitysubmit.activitysubmitapproval_p.approval_note }}</td>
                                
                              </tr>
                              <tr>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td>{{activity.approval_status}}
                                </td>
                                <td></td>
                                
                              </tr>
                            </tbody>
                          </table>
                        </div>
                        <!-- /.col -->
                      </div>
                      <!-- /.row -->

                      <div class="row">
                        <!-- accepted payments column -->
                        <div class="col-md-6">
                         
                          <p class="text-muted well well-sm no-shadow" style="margin-top: 10px;">
                          {{ activity.description }}
                          </p>
                        </div>
                        <!-- /.col -->
                        <div class="col-md-6">
                          <p class="lead">Approved Activity Budget</p>
                          <div class="table-responsive">
                            <table class="table">
                              <tbody>
                                <tr>
                                  <th style="width:50%">Mercy Corps:</th>
                                  <td> {{ activity.mc_budget|floatformat:2|intcomma }}{{activity.get_mc_currency_display }}</td>
                                 
                                </tr>
                                <tr>
                                  <th>Cost Share contributions</th>
                                  <td>{% if activity.cost_sharing_budget %} {{ activity.cost_sharing_budget }}{{activity.get_cs_currency_display }}{% else %}0.00USD{% endif %}</td>
                                </tr>
                               
                                <tr>
                                  <th>Total:</th>
                                  <td> {{ activity.mc_budget|add:activity.cost_sharing_budget|floatformat:"2g" }}{{activity.get_mc_currency_display }}</td>
                                </tr>
                              </tbody>
                            </table>
                          </div>
                        </div>
                        <!-- /.col -->
                      </div>
                      <!-- /.row -->

                      <!-- this row will not appear when printing -->
                      <div class="row no-print">
                        <div class=" ">
                          <button class="btn btn-default" onclick="window.print();"><i class="fa fa-print"></i> Print</button>
                           <a href="{% url 'activity_detail' activity.id %}" class="btn btn-primary btn-xs"><i class="fa fa-credit-card"></i> Activity</a>
                           <a href="{% url 'activity_submit_approval' activity.id %}" class="btn btn-success btn-xs"><i class="fa fa-mail-forward"></i> Approval Workflow</a>
                        </div>
                      </div>
                    </section>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- /page content -->
{% endblock %}