{% extends 'base.html' %}

{% block content %}
{% load static %}

{% load humanize%}
<div class="right_col" role="main">
       <div class="">
            <div class="page-title">
              <div class="title_left">
                <h4>Concept Note | Activity</h4>
              </div>

              
            </div>
      
      
      <div class="clearfix"></div>

      <div class="row">
        <div class="col-md-12">
          <div class="x_panel">
       

            <div class="x_content">

              <div class="col-md-9 col-sm-9  ">
                <div class="x_title">
                  <h2> Approval Workflow</h2>
                  <div class="clearfix"></div>
                </div>
             

                

                <div style="height:350px;">
                  <div class="row">
                    <div class="table" id="SubmitList" hx-trigger="load, SubmitApprovalListChanged from:body" hx-get= "{% url 'current_activity_submit_approval_list' activity.id %}" hx-target="this" >

  
                    </div>
                    <!-- /.col -->
                  </div>
                  
                </div>

             <div >


                      <ul class="nav nav-tabs bar_tabs" id="myTab" data-example-id="togglable-tabs" role="tablist">
                        <li class="nav-item">
                          <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true">Submission | Approval Log</a>
                        </li>
                        <li class="nav-item">
                          <a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="profile" aria-selected="false">Concept Note Version Log</a>
                        </li>
                        
                      </ul>
                      <div class="tab-content" id="myTabContent">
                        <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
                              <div>

              
                
<div  hx-trigger="load, SubmitApprovalListChanged from:body" hx-get="{% url 'activity_submit_approval_list' activity.id %}" hx-target="this">
            

                
                </div>
              </div>
                        </div>
                        <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">
                       <div id="documentlist" hx-trigger="load, SubmitApprovalListChanged from:body" hx-get="{% url 'activity_document_list' activity.id %}" hx-target="this">
                        </div>
</div>
                        
                      </div>
</div>
                </div>
              <div class="modal fade bs-example-modal-lg" id="modal" class="modal fade">
                                                  <div id="dialog" class="modal-dialog modal-lg" hx-target="this"></div>
                                              </div>   

              <!-- start project-detail sidebar -->
              <div class="col-md-3 col-sm-3  ">

                <section class="panel">

                  <div class="x_title">
                    <h2> Concept Note overview </h2>
                    <div class="clearfix"></div>
                  </div>
                  <div class="panel-body">
                    <h5 class="green"><i class="fa fa-paint-brush"></i> {{ activity.title }}</h5>

                    <p>{{activity.description}}</p>
               

                    <div class="project_detail">
                     <p>Intervention:<strong> {{activity.icn}}</strong></p>

                      <p class="">Lead Agency:<strong> {{activity.alead_agency}}</strong></p>
                      <p>Co-Lead Agency:
                      {% for colead in activity.alead_co_agency.all %}
                      <strong>{{colead}},</strong>
                      {% endfor %}</p>
                      <p class="">Proposed Start Date<strong>
                      {{activity.proposed_start_date}}</strong></p>
                      <p class="">Proposed End Date<strong>
                      {{activity.proposed_end_date}}</strong></p>
                  

                  

                     

                              <p>Total Mercy Corps budget:<strong> ${{ activity.mc_budget_usd|intcomma }}</strong></p>
                              <p>Cost-share contributions:<strong>  ${{ activity.cost_sharing_budget_usd|intcomma }}</strong></p>
             <p>Activity Woredas
                      {% for woreda in activity.aworeda.all %}
                      <strong>{{woreda}},</strong>
                      {% endfor %}</p>
                             <p># of Impact/Target: <strong> {{ activity.activityimpact_set.count }}</strong></p>
                             <p># of Intervention Target: <strong> {{ activity.get_num_impact }}</strong></p>
                    <br />
  </div>
                    <div class="text-center mtop20">
                      
                          <a href="{% url 'activity_detail' activity.id %}" class="btn btn-sm  btn-primary btn-xs"><i class="fa fa-eye"></i> View Details</a>
                    </div>
                  </div>

                </section>

              </div>
              <!-- end project-detail sidebar -->

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- /page content -->
{% endblock %}