
{% extends 'base.html' %}
{% load static %}


{% block content_page_css %}

<link href="{% static 'vendors/pnotify/dist/pnotify.css' %}" rel="stylesheet">
    <link href="{% static 'vendors/pnotify/dist/pnotify.buttons.css' %}" rel="stylesheet">
    <link href="{% static 'vendors/pnotify/dist/pnotify.nonblock.css' %}" rel="stylesheet">


   

{% endblock %}

{% block content %}
{% load humanize%}
        <!-- page content -->
        <div class="right_col" role="main">
           <div class="">
            <div class="page-title">
              <div class="title_left">
                <h3>Concept Note:: Intervention</h3>
              </div>

              
            </div>
      

              
              <div class="clearfix"></div>
  
              <div class="row">
                <div class="col-md-12 col-sm-12 ">
                  <div class="x_panel">
                    <div class="x_title">
                      <h2>Intervention Details</h2>
    
                      <div class="clearfix"></div>
                    </div>
                    <div class="x_content">
                       
                
                      <div class="col-md-12 col-sm-12">

                        <!-- start of user-activity-graph -->
                        <div  style="width:100%; height:300px;">
                          <div class="panel-body">
                            <h3 class="green"><i class="fa fa-paint-brush"></i> {{ icn.title }}</h3>
  
                            <p><strong>Description: </strong> {{ icn.description }}</p>
                          
  
                            <div class="col-md-4 col-sm-4 project_detail">
                           
  <p>Program:<strong>  {{ icn.program }}</strong></p>
                             <p>Lead Agency:<strong> {{ icn.ilead_agency }}</strong></p>
                              <p>Co-Lead Agency:
                      {% for colead in icn.ilead_co_agency.all %}
                      <strong>{{colead}},</strong>
                      {% endfor %}</p>
                             <p class="">Proposed Start Date<strong>
                      {{icn.proposed_start_date}}</strong></p>
                      <p class="">Proposed End Date<strong>
                      {{icn.proposed_end_date}}</strong></p>
                     
                            
                            
                              
                            </div>
                       
                          
                            <div class="col-md-4 col-sm-4 project_detail">
                              
                              <p>Environmnetal Impact: {% if icn.eniromental_impact == '3' %}High{% elif icn.eniromental_impact == '2' %}<strong>Medium</strong>{% elif icn.eniromental_impact == '1' %}<strong>Low</strong>{% endif %}</p>
                              <p>Environmnetal Impact Doc <i class="fa fa-paperclip"></i>:<strong>{% if icn.environmental_assessment_att %}<a href="{% url 'download_env_att' icn.id %}"><i class="fa fa-paperclip"></i>  download </a> {% else %}NA{% endif%} </strong></p>

                              <p>Total Mercy Corps budget:<strong> ${{ icn.mc_budget_usd|intcomma }}</strong></p>
                              <p>Cost-share contributions:<strong>  ${{ icn.cost_sharing_budget_usd|intcomma }}</strong></p>
                               <p>Final Report due date: <strong>  {{ icn.final_report_due_date}}</strong></p>
 

                           
                            </div>
                            <div class="col-md-4 col-sm-4 project_detail">
  
                              <p>Initited By: <strong>  {{ icn.user }}</strong></p>
                              <p>Technical Lead: <strong>  {{ icn.technical_lead }}</strong></p>
                              <p>Program Lead: <strong> {{ icn.program_lead }}</strong></p>
                                <p>Finance Lead: <strong> {{ icn.finance_lead }}</strong></p>
                                
                              <p >Submission Status: <strong>{{ icn.get_status_display }}</strong></p> 
                              


                           
                            </div>
  
                         
                            
  
                    
                     
                          <div class="col-md-12 col-sm-12">
<div class="col-md-9 col-sm-9">
</div>

                          <a class="btn btn-success source" {% if icn.status == True or icn.user != request.user %} IareaListChanged from:body, onclick="new PNotify({
                                  title: 'Permission',
                                  text: 'Current User doesnot match with ICN Owner and/or ICN submission status should be Draft;',
                                  type: 'info',
                                  styling: 'bootstrap3'
                              });" {% else %} href="{% url 'icn_edit' icn.id %} {% endif %}" ><i class="fa fa-edit m-right-xs"></i>Edit ICN</a>
                          <a class="btn btn-primary " href="{% url 'icn_submit_approval' icn.id %}" ><i class="fa fa-step-forward m-right-xs"></i> Approval</a>
                        </div>

                        </div>
                        
                        
                        <!-- end of user-activity-graph -->
         
                      
                        <div class="col-md-9 col-sm-9">
                     
                        <div class="" role="tabpanel" data-example-id="togglable-tabs">
                          <ul id="myTab" class="nav nav-tabs bar_tabs" role="tablist">
                            <li role="presentation" class="active"><a href="#tab_content1" id="home-tab" role="tab" data-toggle="tab" aria-expanded="true">Recent Activity</a>
                            </li>
                            <li role="presentation" class=""><a href="#tab_content2" role="tab" id="profile-tab" data-toggle="tab" aria-expanded="false">Implementation Woredas</a>
                            </li>
                            <li role="presentation" class=""><a href="#tab_content3" role="tab" id="profile-tab2" data-toggle="tab" aria-expanded="false">Impact Target</a>
                            </li>
                          </ul>
                          <div id="myTabContent" class="tab-content">
                            <div role="tabpanel" class="tab-pane active " id="tab_content1" aria-labelledby="home-tab">
  
                              <!-- start recent activity -->
                              <div  hx-trigger="load, SubmitApprovalListChanged from:body" hx-get="{% url 'latest_submit_approval_list' icn.id %}" hx-target="this">
                              </div>
                              <!-- end recent activity -->
  
                            </div>
                            <div role="tabpanel" class="tab-pane fade" id="tab_content2" aria-labelledby="profile-tab">
  
                              <!-- start user projects -->
                            
                           
                                <div id="AreaList" hx-trigger="load, IareaListChanged from:body" hx-get="{% url 'iarea_list' icn.id %}" hx-target="this">

                                  
                                </div>
                             
                                  <button  hx-get="/conceptnote/iregion/{{icn.id}}/" hx-target="#dialog" class="btn btn-primary btn-sm">
                                      Add Woreda
                                    </button>
                                        
                               
                              
                                             

                                              <!-- Empty toast to show the message -->
                                              
                             
                            </div>
                            <div role="tabpanel" class="tab-pane fade" id="tab_content3" aria-labelledby="profile-tab">
                           <div id="ImpactList" hx-trigger="load, ImpactListChanged from:body" hx-get="{% url 'impact_list' icn.id %}" hx-target="this">

                                  
                                </div>
                             
                                  <button  hx-get="/conceptnote/add_impact/{{icn.id}}/" hx-target="#dialog" class="btn btn-primary btn-sm">
                                      Add Target/Impact
                                    </button>
                              

                                </div>
                            </div>
                          </div>
                          <div class="modal fade bs-example-modal-lg" id="modal" class="modal fade">
                                                  <div id="dialog" class="modal-dialog modal-lg" hx-target="this"></div>
                                              </div>
                        </div>
                      </div>
                        
                  </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!-- /page content -->
  <!-- /page content -->
  {% endblock %}

{% block content_page_js %}

<script src="{% static 'vendors/pnotify/dist/pnotify.js' %}"></script>
    <script src="{% static 'vendors/pnotify/dist/pnotify.buttons.js' %}"></script>
    <script src="{% static 'vendors/pnotify/dist/pnotify.nonblock.js' %}"></script>
{% endblock %}




