<!-- page content -->
{% extends "base.html" %}
{% block content %}
 <!-- page content -->
 <div class="right_col" role="main">
  <div class="">
<div class="page-title">
              <div class="title_left">
                <h3>Concept Note :: Intervention</h3>
              </div>
      </div>

    <div class="clearfix"></div>

    <div class="row">
      <div class="col-md-12 col-sm-12  ">
        <div class="x_panel">
          <div class="x_title">
            <h2>Intervention Form</h2>
            <ul class="nav navbar-right panel_toolbox">
              <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
              </li>
              <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-wrench"></i></a>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                    <a class="dropdown-item" href="#">Settings 1</a>
                    <a class="dropdown-item" href="#">Settings 2</a>
                  </div>
              </li>
              <li><a class="close-link"><i class="fa fa-close"></i></a>
              </li>
            </ul>
            <div class="clearfix"></div>
          </div>
          <div class="x_content">
                    <!-- Smart Wizard -->
      
                    <div id="wizard" class="form_wizard wizard_horizontal">
                      <ul class="wizard_steps">
                        <li>
                          <a href="#step-1">
                            <span class="step_no">1</span>
                            <span class="step_descr">
                                              Step 1<br />
                                              <small>Step 1 Basic Info</small>
                                          </span>
                          </a>
                        </li>
                        <li>
                          <a href="#step-2">
                            <span class="step_no">2</span>
                            <span class="step_descr">
                                              Step 2<br />
                                              <small>Step 2 Intervention Woreda(s)</small>
                                          </span>
                          </a>
                        </li>
                        <li>
                          <a href="#step-3">
                            <span class="step_no">3</span>
                            <span class="step_descr">
                                              Step 3<br />
                                              <small>Step 3 Estimated budget</small>
                                          </span>
                          </a>
                        </li>
                        <li>
                          <a href="#step-4">
                            <span class="step_no">4</span>
                            <span class="step_descr">
                                              Step 4<br />
                                              <small>Step 4 Risk Assasment, Approval Team</small>
                                          </span>
                          </a>
                        </li>
                      </ul>
                      <div id="step-1" style="width: 100%; height: 235px;">
                              <form class="form-horizontal form-label-left" method="post" action="" enctype="multipart/form-data">
                   
                      {% load widget_tweaks %}
                      {% with WIDGET_ERROR_CLASS='is-invalid' %}
   {% csrf_token %}
                        <div class="form-group row">
                          <label class="col-form-label col-md-2 col-sm-2 label-align">Title <span class="required">*</span>
                          </label>
                          <div class="col-md-8 col-sm-8">
                            {%  render_field form.title class+="form-control form-control-sm required" %}
                            <div class="invalid-feedback">{{ form.title.errors|first }}</div>

                          </div>                     
                          
                          <div class="col-md-2 col-sm-2">
                              {%  render_field form.program class+="form-control form-control-sm" readonly="readonly" %}
                          </div>
                          
                        </div>
                           
                        <div class="form-group row">

                            <label class="col-form-label col-md-2 col-sm-2 label-align">Lead Agency:
                                </label>
                            <div class="col-md-2 col-sm-2">
                            
                               {% render_field   form.ilead_agency class="form-control form-control-sm"%}
                              <div class="invalid-feedback">{{ form.ilead_agency.errors|first }}</div>
                            </div>
                            <label class="col-form-label col-md-1 col-sm-1 label-align">Co-Lead:
                            </label>
                            <div class="col-md-5 col-sm-5">
                                {% render_field form.ilead_co_agency class+="form-control form-control-sm form-select form-select-solid" attr="data-control:select2" %}
                                  <div class="invalid-feedback">{{ form.ilead_co_agency.errors|first }}</div>
                            </div>
                        </div>
                        <div class="form-group row">
                          <label class="col-form-label col-md-2 col-sm-2 label-align">Start Date:
                              </label>
                          <div class="col-md-2 col-sm-2 ">
                            {% render_field form.proposed_start_date class+="form-control form-control-sm" %}
                            <div class="invalid-feedback">{{ form.proposed_start_date.errors|first }}</div>
                              
                          </div>
                          <label class="col-form-label col-md-1 col-sm-1 label-align">End Date:
                          </label>
                          <div class="col-md-2 col-sm-2 ">
                            {% render_field form.proposed_end_date class+="form-control form-control-sm" %}
                              <div class="invalid-feedback">{{ form.proposed_end_date.errors|first }}</div>
                          </div>
                            <label class="col-form-label col-md-1 col-sm-1 label-align"><small>Report Date:</small>
                            </label>
                            <div class="col-md-2 col-sm-2 ">
                                {% render_field form.final_report_due_date class+="form-control form-control-sm" %}
                                <div class="invalid-feedback">{{ form.final_report_due_date.errors|first }}</div>
                            </div>
                        </div>

                        <div class="form-group row">
                          
                          </div>
                    
                          <div class="form-group row">
                            <label class="col-form-label col-md-2 col-sm-2 label-align" >Description:
                                </label>
                            <div class="col-md-8 col-sm-8 ">
                                {% render_field form.description class+="form-control form-control-sm" %}
                            </div>
                  
                          </div>
              
                      </div>
                     
                      <div id="step-2" style="width: 100%; height: 235px;">
                        
                     
                        <div class="form-group row">
                        <div class="col-md-2 col-sm-2"></div>
                             <label class="col-form-label col-md-4 col-sm-4" ><strong>Intervention Location/Sites</strong>
                              </label>
                          
                        </div>
                        <div class="form-group row">
                        <div class="col-md-1 col-sm-1"></div>
                          <label class="col-form-label col-md-2 col-sm-2 label-align" >Program Woredas:
                              </label>
                              <div class="col-md-7 col-sm-7">
                                   {% render_field form.iworeda class+="form-control form-control-sm select2_group form-control" attr="data-control:select2"  %}
                                    <div class="invalid-feedback">{{ form.iworeda.errors|first }}</div>
                              </div>
                        </div>
                            <div class="form-group row">
                        <div class="col-md-2 col-sm-2"></div>
                             <label class="col-form-label col-md-4 col-sm-4" ><strong>Risk Assasment</strong>
                              </label>
                          
                        </div>
                         
                        <div class="form-group row">
                           <div class="col-md-1 col-sm-1"></div>
                            <label class="col-form-label col-md-2 col-sm-2 label-align" >Environmental Impact:
                            </label>
                            <div class="col-md-2 col-sm-2">
                                 {% render_field form.eniromental_impact class+="form-control form-control-sm" %}
                                 <div class="invalid-feedback">{{ form.eniromental_impact.errors|first }}</div>
                            </div>
                            <label class="col-form-label col-md-2 col-sm-2 label-align" >Env.Assessment Doc:
                            </label>
                              <div class="col-md-3 col-sm-3">
                                  {% render_field form.environmental_assessment_att class+="form-control form-control-sm"%}
                                  <div class="invalid-feedback">{{ form.environmental_assessment_att.errors|first }}</div>
                              </div>

                          </div>

                         
                
         
                      </div>

                      <div id="step-3" style="width: 100%; height: 235px;">
                         <div class="form-group row">
                          <label class="col-form-label col-md-4 col-sm-4 label-align" ><strong>Expected Budget</strong>
                            </label>
                         </div>
                         <div class="form-group row">
                            <label class="col-form-label col-md-4 col-sm-4 label-align" >Total Mercy Corps budget:
                            </label>
                            <div class="col-md-2 col-sm-2">
                                   {% render_field form.mc_budget class="form-control form-control-sm" %}
                                 <div class="invalid-feedback">{{ form.mc_budget.errors|first }}</div>
                            </div>
                            
                               <label class="col-form-label col-md-1 col-sm-1 label-align" >Currency:
                              </label>
                              <div class="col-md-2 col-sm-2">
                                   {% render_field form.mc_currency class="form-control form-control-sm" %}
                                 <div class="invalid-feedback">{{ form.mc_currency.errors|first }}</div>
                              </div>
                          
                          </div>
                          <div class="form-group row">
                            <label class="col-form-label col-md-4 col-sm-4 label-align" >Total cost-share contributions:
                            </label>
                            <div class="col-md-2 col-sm-2 ">
                                    {% render_field form.cost_sharing_budget class="form-control form-control-sm" %}
                                 <div class="invalid-feedback">{{ form.cost_sharing_budget.errors|first }}</div>
                            </div>
                              <label class="col-form-label col-md-1 col-sm-1 label-align" >Currency:
                            </label>
                            <div class="col-md-2 col-sm-2">
                                    {% render_field form.cs_currency class="form-control form-control-sm" %}
                                 <div class="invalid-feedback">{{ form.cs_currency.errors|first }}</div>
                            </div>
                          </div>
                      </div>

                      <div id="step-4" style="width: 100%; height: 235px;">

                        
                
                         <div class="form-group row">
                          <label class="col-form-label col-md-4 col-sm-4 label-align" ><Strong>Approval Team Leads</strong>
                          </label>
                        </div>
                        <div class="form-group row">
                          <label class="col-form-label col-md-4 col-sm-4 label-align">Program Lead:
                          </label>
                          <div class="col-md-4 col-sm-4">
                           
                               {% render_field form.program_lead class="form-control form-control-sm" %}
                               <div class="invalid-feedback">{{ form.program_lead.errors|first }}</div>
                          </div>
                        </div>
                        
                            
                            <div class="form-group row">
                              <label class="col-form-label col-md-4 col-sm-4 label-align" >Techncial Lead:
                              </label>
                              <div class="col-md-4 col-sm-4">
                                 {% render_field form.technical_lead class="form-control form-control-sm"  %}
                                 <div class="invalid-feedback">{{ form.technical_lead.errors|first }}</div>
                              </div>
                          </div>
                          
                          <div class="form-group row">
                            <label class="col-form-label col-md-4 col-sm-4 label-align" >Finance Lead:
                            </label>
                            <div class="col-md-4 col-sm-4">
                               {% render_field form.finance_lead class="form-control form-control-sm" %}
                               <div class="invalid-feedback">{{ form.finance_lead.errors|first }}</div>
                            </div>
                         </div>
                        
                                   {% endwith %}
                  </div>
                </form>
                 <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.3/css/select2.css" rel="stylesheet"/>

    {{ form.media.js }}
                        
                        </div>
                          
 
                          
                  <div class="modal fade bs-example-modal-lg" id="modal" class="modal fade">
                                                  <div id="dialog" class="modal-dialog modal-lg" hx-target="this"></div>
                                   </div>          </div>
                   


     
      </div>
    </div>
  </div>
</div>
<!-- /page con
/page content -->
  
{% endblock %}
