<!-- page content -->
{% extends "base.html" %}
{% block content %}
 <!-- page content -->
 <div class="right_col" role="main">
  <div class="">


    <div class="clearfix"></div>

    <div class="row">
      <div class="col-md-12 col-sm-12  ">
        <div class="x_panel">
          <div class="x_title">
            <h2>Intervention Concept Note</h2>
            <ul class="nav navbar-right panel_toolbox">
              <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
              </li>
              <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-wrench"></i></a>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                    <a class="dropdown-item" href="#">Settings 1</a>
                    <a class="dropdown-item" href="#">Settings 2</a>
                  </div>
              </li>
              <li><a class="close-link"><i class="fa fa-close"></i></a>
              </li>
            </ul>
            <div class="clearfix"></div>
          </div>
          <div class="x_content">
                    <!-- Smart Wizard -->
      <form class="form-horizontal form-label-left" method="post" action="" enctype="multipart/form-data">
                   
                      {% load widget_tweaks %}
                      {% with WIDGET_ERROR_CLASS='is-invalid' %}
   {% csrf_token %}
                    <div id="wizard" class="form_wizard wizard_horizontal">
                      <ul class="wizard_steps">
                        <li>
                          <a href="#step-1">
                            <span class="step_no">1</span>
                            <span class="step_descr">
                                              Step 1<br />
                                              <small>Step 1 Basic Info</small>
                                          </span>
                          </a>
                        </li>
                        <li>
                          <a href="#step-2">
                            <span class="step_no">2</span>
                            <span class="step_descr">
                                              Step 2<br />
                                              <small>Step 2 Expected Impact</small>
                                          </span>
                          </a>
                        </li>
                        <li>
                          <a href="#step-3">
                            <span class="step_no">3</span>
                            <span class="step_descr">
                                              Step 3<br />
                                              <small>Step 3 Estimated budget</small>
                                          </span>
                          </a>
                        </li>
                        <li>
                          <a href="#step-4">
                            <span class="step_no">4</span>
                            <span class="step_descr">
                                              Step 4<br />
                                              <small>Step 4 Risk Assasment, Approval Team</small>
                                          </span>
                          </a>
                        </li>
                      </ul>
                      <div id="step-1" style="width: 100%; height: 250px;">
                     
                      

                     
<div class="form-group row">
  <label class="col-form-label col-md-2 col-sm-2 label-align" for="{{ form.title.id_for_label }}">Title <span class="required">*</span>
  </label>
  <div class="col-md-8 col-sm-8">
    {%  render_field form.title class+="form-control form-control-sm required" %}
    <div class="invalid-feedback">{{ form.title.errors|first }}</div>

  </div>                     
   
    <div class="col-md-2 col-sm-2">
      {%  render_field form.program class+="form-control form-control-sm" readonly="readonly" %}
    </div>
   
</div>
                           
                            <div class="form-group row">

                              <label class="col-form-label col-md-2 col-sm-2 label-align" for="{{ form.lead_agency.id_for_label }}">Lead Agency <span class="required">*</span>
                                  </label>
                              <div class="col-md-3 col-sm-3">
                              
                                 {% render_field   form.ilead_agency class="form-control form-control-sm" required= %}
                                 <div class="invalid-feedback">{{ form.ilead_agency.errors|first }}</div>
                              </div>
                              <label class="col-form-label col-md-2 col-sm-2 label-align" for=" {% render_field form.co_lead_agenc.id_for_label %}"> Co-Lead Agency <span class="required">*</span>
                              </label>
                              <div class="col-md-3 col-sm-3 ">
                                   {% render_field form.ilead_co_agency class+="form-control form-control-sm form-select form-select-solid" attr="data-control:select2" %}
                                    <div class="invalid-feedback">{{ form.ilead_co_agency.errors|first }}</div>
                              </div>
                            </div>
                            <div class="form-group row">
                              <label class="col-form-label col-md-2 col-sm-2 label-align" >Proposed Start Date <span class="required">*</span>
                                  </label>
                              <div class="col-md-3 col-sm-3 ">
                                 {% render_field form.proposed_start_date class+="form-control form-control-sm" %}
                                  
                              </div>
                              <label class="col-form-label col-md-2 col-sm-2 label-align" >Proposed End Date <span class="required">*</span>
                              </label>
                              <div class="col-md-3 col-sm-3 ">
                                 {% render_field form.proposed_end_date class+="form-control form-control-sm" %}
                              </div>
                          </div>
                     
                          <div class="form-group row">
                            <label class="col-form-label col-md-2 col-sm-2 label-align" >Final Report due date <span class+="required">*</span>
                            </label>
                            <div class="col-md-3 col-sm-3 ">
                                 {% render_field form.final_report_due_date class+="form-control form-control-sm" %}
                                 <div class="invalid-feedback">{{ form.final_report_due_date.errors|first }}</div>
                            </div>
                          </div>
                          <div class="form-group row">
                            <label class="col-form-label col-md-2 col-sm-2 label-align" >Description<span class="required">*</span>
                                </label>
                            <div class="col-md-8 col-sm-8 ">
                                 {% render_field form.description class+="form-control form-control-sm" %}
                            </div>
                        
                          </div>
                   
                      </div>
                     
                      <div id="step-2" style="width: 100%; height: 250px;">
                        
                     
                        <div class="form-group row">
                       
                          {{formset.management_form}}
                           {% load humanize %}
      <table class="data table table-sm table-striped no-margin" style="width:100%">
        <thead>
            <tr>
              <th>#</th>
           <th >Title</th>
             
            <th >Pilot</th>
             <th >Scaleup</th>
            <th >Program indicators</th>
               
            </tr>
        </thead>
        <tbody>
        {% for form in formset %}
        <tr>
        <td>{{forloop.counter}}</td>
        <td>{{form.title}}</td>
        <td>{{form.impact_pilot}}</td>
        <td>{{form.impact_scaleup}}</td>
        <td>{{form.indicators}}</td>
        </tr>
           {% endfor %}
       </tbody>
       </table>
     
        <button type="button" 
          hx-trigger="click"
          hx-get="{% url 'add_formset' formset.total_form_count %}"
          hx-swap="outerHTML">
    Add formset
  </button> 
                        
                      </div>

                      <div id="step-3" style="width: 100%; height: 250px;">
                        <div class="form-group row">
                          <label class="col-form-label col-md-2 col-sm-2 label-align" >ESTIMATED BUDGET<span class="required"></span>
                          </div>
                       
                        <div class="form-group row">
                          <label class="col-form-label col-md-4 col-sm-4 label-align" >Total Mercy Corps budget <span class="required">*</span>
                          </label>
                          <label class="col-form-label col-md-1 col-sm-1 label-align" >In ETB <span class="required">*</span>
                          </label>
                          <div class="col-md-1 col-sm-1">
                             {% render_field form.mc_budget_etb class="form-control form-control-sm" %}
                          </div>
                          <label class="col-form-label col-md-1 col-sm-1 label-align" >In USD <span class="required">*</span>
                          </label>
                          <div class="col-md-1 col-sm-1">
                             {% render_field form.mc_budget_usd class="form-control form-control-sm" %}
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-form-label col-md-4 col-sm-4 label-align" >Expected cost-share contributions<span class="required">*</span>
                            </label>
                            <label class="col-form-label col-md-1 col-sm-1 label-align" >In ETB <span class="required">*</span>
                            </label>
                            <div class="col-md-1 col-sm-1">
                               {% render_field form.cost_sharing_budget_etb class="form-control form-control-sm" %}
                                    </div>
                            <label class="col-form-label col-md-1 col-sm-1 label-align" >In USD <span class="required">*</span>
                            </label>
                            <div class="col-md-1 col-sm-1">
                               {% render_field form.cost_sharing_budget_usd class="form-control form-control-sm" %}
                              </div>
                          </div>
                        
                      </div>

                      <div id="step-4" style="width: 100%; height: 250px;">

                        <div class="form-group row">
                          <label class="col-form-label col-md-6 col-sm-6 label-align" >Risk/Environmental <span class="required">*</span>
                          </label>
                        </div>
                        <div class="form-group row">
                          <label class="col-form-label col-md-3 col-sm-3 label-align" >Potential impact on the environment<span class="required">*</span>
                          </label>
                          <div class="col-md-1 col-sm-1">
                           
                               {% render_field form.eniromental_impact %}
                              </div>
                            
                          
                          
                            <label class="col-form-label col-md-4 col-sm-4 label-align" >if High, Please upload Env.Assessment Document<span class="required"></span>
                            </label>
                            <div class="col-md-1 col-sm-1">
                               {% render_field form.environmental_assessment_att %}
                              </div>
                         </div>
                         <div class="form-group row">
                          <label class="col-form-label col-md-6 col-sm-6 label-align" >Approval Team Leads <span class="required">*</span>
                          </label>
                        </div>
                         <div class="form-group row">
                          <label class="col-form-label col-md-2 col-sm-2 label-align" >Program<span class="required">*</span>
                          </label>
                          <div class="col-md-2 col-sm-2">
                           
                               {% render_field form.program_lead class="form-control form-control-sm" %}
                              </div>
                              <label class="col-form-label col-md-1 col-sm-1 label-align" >Techncial <span class="required">*</span>
                              </label>
                              <div class="col-md-2 col-sm-2">
                                 {% render_field form.technical_lead class="form-control form-control-sm"  %}
                                </div>
                          
                          
                            <label class="col-form-label col-md-1 col-sm-1 label-align" >Finance<span class="required">*</span>
                            </label>
                            <div class="col-md-2 col-sm-2">
                               {% render_field form.finance_lead class="form-control form-control-sm" %}
                              </div>
                         </div>
                        
                        </div>
                        
                        </div>
                          
 
                      

              
                   
                        {% endwith %}
                  </div>
                </form>
                 <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.3/css/select2.css" rel="stylesheet"/>

    {{ form.media.js }}
          </div>
        </div>
        </div>
      </div>
 
        
     
      </div>
    </div>
  </div>
</div>
<!-- /page con
/page content -->
  
{% endblock %}
{% block content_page_js %}
{% load static %}
       <!-- BEGIN: Vendor JS-->
   
   <script src="{% static 'vendors/jQuery-Smart-Wizard/js/jquery.smartWizard.js' %}"></script>
{% endblock %}