<tr>

    <td >{{ form.type }}
        {{ form.type.errors}}
    </td>
    <td >{{ form.description }}
        {{ form.description.errors }}
    </td>
    <td  >
        {{ form.number_unit_day }}
        {{ form.number_unit_day.errors }}
    </td>
    <td >
        {{ form.unit_cost }}
        {{ form.unit_cost.errors }}
    </td>
   
    <td class="text-right" colspan="2">
   
    <a hx-post="/travel/edit_travel_cost/{{ travel_cost.id }}/" class="btn btn-sm btn-success py-1" style="font-size: 0.8em;"  hx-target="closest tr" hx-swap="outerHTML" hx-include="closest tr"><i class="fa fa-save"> </i> </a>
   <button type="button" class="btn btn-sm btn-secondary py-1" style="font-size: 0.8em;" value="Previous Page" onClick="javascript:history.go(0);"><i class="fa fa-remove"></i></button>
    <a hx-post="/travel/delete_travel_cost/{{ travel_cost.id }}/" class="btn btn-sm btn-danger py-1" style="font-size: 0.8em;"  hx-confirm='Are you sure?'  hx-target="closest tr" hx-swap="outerHTML" hx-include="closest tr"><i class="fa fa-trash-o"> </i> </a>
    </td>
</tr>