{% load static %}
  <table class="table table-striped projects">
                <thead>
                  <tr class="text-center">
                    <th style="width: 1%">#</th>
                    <th style="width: 15%">Program</th>
                    <th style="width: 25%">Title</th>
                    <th style="width: 26%">Team Members</th>
                    
                    <th style="width: 22%">Timeline</th>
                   
                    <th style="width: 12%"></th>
                  </tr>
                </thead>
                <tbody>
                    {% for program in programs %}
                  <tr>
                    <td>{{ forloop.counter }}</td>
                    <td> {{program.title}} </br><small>{{program.portfolio}}</small></td>
                    <td>
                     
                    {{ program.working_title }}
                    </td>
                    <td>
                      
                      <ul class="list-inline">
                        {% for user in program.users_role.all %}
                       
                          <img class="img-responsive  img-circle profile_img" src="{% static 'images/user.png' %}" alt="avatar" title="{{ user.profile.full_name}}" style="width: 30px; height:30px; margin-top: 0px; margin-bottom:1px; margin-left: 0px;margin-right: 0px;">
                       
                         
                        {% endfor %}
                    </ul>
                    </td>
                    <td>
                        {{ program.start_date }} 
                       -
                        {{ program.end_date }}
                     </br> <small>{{ program.get_date_diff }}</small>
                      <div class="progress progress_sm">
                        <div class="progress-bar bg-green" role="progressbar" data-transitiongoal="{{ program.get_date_diff }}"></div>
                    
                      </div>
                      
                    </td>
                    
                    <td class="text-right">
                      <a href="{% url 'program_detail' program.id %}" class="btn btn-sm btn-info"><i class="fa fa-eye"></i> View </a>
                      
                     
                    </td>
                  </tr>
                  {% endfor %}
                  
                </tbody>
              </table>