{% extends 'base.html' %}

{% block content %}
{% load static %} 
<!-- page content -->
        <div class="right_col" role="main">
          <div class="">
            
            
            <div class="clearfix"></div>

            <div class="row">
              <div class="col-md-12 col-sm-12 ">
                <div class="x_panel">
                  <div class="x_title">
                    <h2>User Profile <small>Activity report</small></h2>
                    <ul class="nav navbar-right panel_toolbox">
                      <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                      </li>
                      <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-wrench"></i></a>
                        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                            <a class="dropdown-item" href="#">Settings 1</a>
                            <a class="dropdown-item" href="#">Settings 2</a>
                          </div>
                      </li>
                      <li><a class="close-link"><i class="fa fa-close"></i></a>
                      </li>
                    </ul>
                    <div class="clearfix"></div>
                  </div>
                  <div class="x_content">
                    <div class="col-md-3 col-sm-3  profile_left" id="admin_list" hx-trigger="load, UserprofileChanged from:body" hx-get="{% url 'user_profile'  %}" hx-target="this">
                    </div>
                    <div class="col-md-9 col-sm-9" >

                      <div class="profile_title" >
                        <div class="col-md-6">
                          <h2>User Activity Report</h2>
                        </div>
                        <div class="col-md-6">
                    <div id="reportrange" class="pull-right" style="background: #fff; cursor: pointer; padding: 5px 10px; border: 1px solid #ccc">
                      <i class="glyphicon glyphicon-calendar fa fa-calendar"></i>
                      <span>January 11, 2024 - February 9, 2024</span> <b class="caret"></b>
                    </div>
                  </div>
                      </div>
                     <div id="pmyChart" style="width: 100%" hx-trigger="load, UserprofileChanged from:body" hx-get="{% url 'user_activity' %}" hx-target="this">
                     
                      </div>
                      <!-- start of user-activity-graph -->
    
                      <!-- end of user-activity-graph -->

                      <div class="" role="tabpanel" data-example-id="togglable-tabs">
                        <ul id="myTab" class="nav nav-tabs bar_tabs" role="tablist">
                          <li role="presentation" class="active"><a href="#tab_content1" id="home-tab" role="tab" data-toggle="tab" aria-expanded="true">Concept Note Roles</a>
                          </li>
                          <li role="presentation" class=""><a href="#tab_content2" role="tab" id="profile-tab" data-toggle="tab" aria-expanded="false">Active Concepts/Reports</a>
                          </li>
                          <li role="presentation" class=""><a href="#tab_content3" role="tab" id="profile-tab2" data-toggle="tab" aria-expanded="false">Account Settings</a>
                          </li>
                        </ul>
                        <div id="myTabContent" class="tab-content">
                          <div role="tabpanel" class="tab-pane active " id="tab_content1" aria-labelledby="home-tab">

             <div id="usergroup" hx-trigger="load,  from:body " hx-get="{% url 'user_program_roles'  %}" hx-target="this">                          <!-- start user projects -->               <!-- end recent activity -->
                            </div>
                            <!-- start recent activity -->
                           
                            <!-- end recent activity -->

                          </div>
                          <div role="tabpanel" class="tab-pane fade" id="tab_content2" aria-labelledby="profile-tab">
 <div id="usergroup" hx-trigger="load,  from:body " hx-get="{% url 'user_conceptnotes'  %}" hx-target="this">
                      
  
                    </div>        
                            <!-- end user projects -->

                          </div>
                          <div role="tabpanel" class="tab-pane fade" id="tab_content3" aria-labelledby="profile-tab">
                            <button class="btn btn-secondary btn-sm" hx-get="{% url 'change_password' %}" hx-target = "#pchange"><i class="fa fa-edit m-right-xs"></i>Change Password</button>
                            <div id="pchange">
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div><div class="modal fade bs-example-modal-lg" id="modal" class="modal fade">
                       <div id="dialog" class="modal-dialog modal-lg" hx-target="this"></div>
                    </div>
        </div>
        <!-- /page content -->
        <!-- /page content -->
{% endblock %}

