{% load widget_tweaks %}
{% with WIDGET_ERROR_CLASS='is-invalid' %}
                                                                
<form  hx-post="{{ request.path }}" hx-headers='{"X-CSRFToken":"{{ csrf_token }}"}' >
    {% csrf_token %}


   <div class="item form-group">
                            <label class="col-form-label col-md-2 col-sm-2 label-align" for="first-name">Old Password:<span class="required"></span>
                            </label>
                            <div class="col-md-8 col-sm-8 ">
                                
                                    {% render_field form.old_password class+="form-control form-control-sm" %}
                                    <div class="invalid-feedback">{{ form.old_password.errors|first }}</div>
                            </div>
                        
                        </div>
   
<div class="item form-group">
                            <label class="col-form-label col-md-2 col-sm-2 label-align" for="first-name">New Password:<span class="required"></span>
                            </label>
                            <div class="col-md-8 col-sm-8 ">
                                
                                    {% render_field form.new_password1 class+="form-control form-control-sm" %}
                                    <div class="invalid-feedback">{{ form.new_password1.errors|first }}</div>
                            </div>
                        
                        </div>
                        <div class="item form-group">
                            <label class="col-form-label col-md-2 col-sm-2 label-align" for="first-name">Confirm Password:<span class="required"></span>
                            </label>
                            <div class="col-md-8 col-sm-8 ">
                                
                                    {% render_field form.new_password2 class+="form-control form-control-sm" %}
                                    <div class="invalid-feedback">{{ form.new_password2.errors|first }}</div>
                            </div>
                        
                        </div>
</div>


    <div class="form-group row">							
        <div class="col-md-12 col-sm-12">
        <div class="col-md-4 col-sm-4">
        </div>
		<button type="button" class="btn btn-secondary" value="Previous Page" onClick="javascript:history.go(0);">Cancel</button>       

        <button type="submit" class="btn btn-sm btn-xs btn-primary">Save Changes</button>
        </div>
     
 
</div>
</form>

{% endwith%}
