<table class="table table-striped projects">
                <thead>
                  <tr class="text-center">
                    <th style="width: 1%">#</th>
                    
                    <th style="width: 20%" class="text-left">Full Name</th>
                    <th style="width: 15%">Type</th>
                    <th style="width: 15%">Category</th>
                    <th style="width: 12%">Start Date</th>
                    <th style="width: 20%">Address/URL</th>
                   
                    <th style="width: 12%"></th>
                  </tr>
                </thead>
                <tbody>
                    {% for portfolio in portfolios %}
                  <tr>
                    <td>{{forloop.counter}}</td>
                    
                  
                    <td> {{ portfolio.title }}</td>
                   
                  
                    <td> {{ portfolio.type }}</td>
                     <td> {{ portfolio.category }}</td>
                      <td> {{ portfolio.start_date }}</td>
                       <td> {{ portfolio.address_url }}</td>
                    
                      
                  
                    <td class="text-right">
                      

                      <a href="{% url 'portfolio_detail' portfolio.pk %}" class="btn btn-sm btn-info"><i class="fa fa-eye"></i> View</a>

                    </td>
                  </tr>
                  {% endfor %}
                  
                </tbody>
              </table>