

<table class="table table-sm table-striped projects">
    <thead>
      <tr>
        <th>#</th>
        <th>Program</th>
        <th>Type</th>
  <th>Title</th>
        <th>Role </th>
       
       <th>Status</th>
      </tr>
    </thead>
    <tbody>
    {% if conceptnotes %}   
     {% for cn in conceptnotes %}
     <tr>
       <td>{{ forloop.counter}}</td>
       <td>{% if cn.get_name == "Intervention" %}{{cn.program}}{% else %}{{cn.icn.program}}{% endif %}</td>
       <td>{{ cn.get_name }}</td>
       <td>{% if cn.get_name == "Intervention" %} <a href="{% url 'icn_detail' cn.id %}">{{ cn.title }}{% elif cn.get_name == "Activity" %}<a href="{% url 'activity_detail' cn.id %}">{{cn.title}} {% endif %} </a></td>
       <td> {% if cn.user == request.user %}Initiator
            {% elif cn.technical_lead.user.id == request.user.user.id %} Technical Lead 
            {% elif cn.program_lead.user.id == request.user.user.id %} Program Lead 
            {% elif cn.finance_lead.user.id == request.user.user.id %} Finance Lead 
            {% endif%}
            
        </td>

       <td>
       {{cn.approval_status}}
       </td>
       
     </tr>
     {% endfor %}
 {% endif %}
    </tbody>
  </table>

    <!-- Placeholder for the modal -->
   

    <!-- Empty toast to show the message -->
  