{% load widget_tweaks %}
{% with WIDGET_ERROR_CLASS='is-invalid' %}
<form hx-post="{{ request.path }}" hx-headers='{"X-CSRFToken":"{{ csrf_token }}"}' class="modal-content">
  <div class="modal-header">
    <h5 class="modal-title">Profile Form</h5>
    <button type="button" class="btn-close" class="close" data-bs-dismiss="modal" aria-label="Close"></button>
  </div>
  <div class="modal-body">
  
                            <div class="item form-group">
                      
                            <label class="col-form-label col-md-2 col-sm-2 label-align" for="first-name">First Name:<span class="required"></span>
                            </label>
                            <div class="col-md-3 col-sm-3 ">
                                
                                    {% render_field profile_form.first_name class+="form-control form-control-sm" %}
                                    <div class="invalid-feedback">{{ profile_form.first_name.errors|first }}</div>
                            </div>
                              <label class="col-form-label col-md-2 col-sm-2 label-align" for="first-name">Last Name:<span class="required"></span>
                            </label>
                            <div class="col-md-3 col-sm-3 ">
                                
                                    {% render_field profile_form.last_name class+="form-control form-control-sm" %}
                                    <div class="invalid-feedback">{{ profile_form.last_name.errors|first }}</div>
                            </div>
                        
                        </div>

       <div class="item form-group">
                            <label class="col-form-label col-md-2 col-sm-2 label-align" for="first-name">Portfolio:<span class="required"></span>
                            </label>
                            <div class="col-md-3 col-sm-3 ">
                                
                                    {% render_field profile_form.portfolio class+="form-control form-control-sm" %}
                                    <div class="invalid-feedback">{{ profile_form.portfolio.errors|first }}</div>
                            </div>
                               <label class="col-form-label col-md-2 col-sm-2 label-align" for="first-name">Job Title:<span class="required"></span>
                            </label>
                            <div class="col-md-3 col-sm-3 ">
                                
                                     {% render_field profile_form.job_title class="form-control form-control-sm" %}
                                <div class="invalid-feedback">{{ profile_form.job_title.errors|first }}</div>
                            </div>
                        
                        </div>
           <div class="item form-group">
                
                <label class="col-form-label col-md-2 col-sm-2 label-align" for="first-name">Contact Number:<span class="required"></span>
                                                </label>
                    <div class="col-md-3 col-sm-3 ">
                          {% render_field profile_form.contact_number class+="form-control form-control-sm " %}
                          <div class="invalid-feedback">{{ profile_form.contact_number.errors|first }}</div>
                    </div>
                                            
            </div>
                        
                  
                            <div class="item form-group">
                                                    <label class="col-form-label col-md-2 col-sm-2 label-align" for="first-name">Supervisor:<span class="required"></span>
                                                    </label>
                            <div class="col-md-8 col-sm-8 ">
                                {% render_field profile_form.reports_to class="form-control form-control-sm" %}
                                <div class="invalid-feedback">{{ profile_form.reports_to.errors|first }}</div>
                            </div>
                        </div>
                     
</div>
  <div class="modal-footer">
       
          <button type="button" class="btn btn-secondary btn-sm" data-bs-dismiss="modal">
            Cancel
          </button>
          <button type="submit" class="btn btn-primary btn-sm">Save Changes</button>
  </div>
</form>
{% endwith %}
