
  <canvas id="myChart" width="400" height="160"></canvas>

  {% block content_page_js %}
  {% load static %}
  <script src="{% static 'dist/Chart.bundle.js' %}"></script>
    <script src="http://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
<script>
var MONTHS = [{% for activity in all_request %} "{{ activity.datetime__date|date:'M-d'}}", {% endfor %}];
var randomScalingFactor = function() {
      return Math.round(Math.random() * 100 * (Math.random() > 0.5 ? -1 : 1));
    };
var randomColorFactor = function() {
      return Math.round(Math.random() * 255);
    };
var randomColor = function(opacity) {
      return 'rgba(' + randomColorFactor() + ',' + randomColorFactor() + ',' + randomColorFactor() + ',' + (opacity || '1') + ')';
    };

var ctx = document.getElementById("myChart").getContext("2d");
var myChart = new Chart(ctx, {
    type: 'line',
    
    
     data: {
        labels: [{% for activity in all_request   %} "{{ activity.datetime__date|date:'M-d'}}", {% endfor %}],
        datasets: [{
          label: "User Activity",
          data: [{% for activity in all_request %} {{ activity.count_login }}, {% endfor %}],
          backgroundColor: 'rgba(121, 224, 145, .4)',
          borderColor:'rgba(38, 185, 154, 1)',
          borderWidth: 1
        },   ]
      },
    options: {
                 
                    title:{
                        display:false,
                        text:''
                    },
                    tooltips: {
                        mode: 'label',
                    },
                    hover: {
                        mode: 'label'
                    },
            scales: {
                yAxes: [{
                        display: true,
                        scaleLabel: {
                            display: false,
                            labelString: '# activity'
                        },
                    }],
                xAxes: [{
                        display: true,
                        scaleLabel: {
                            display: false,
                            labelString: 'Days'
                        }
                    }],
            }
    },
  

});
 

</script>
{% endblock%}