<table class="table table-sm table-striped projects">
    <thead>
      <tr>
        <th>#</th>
        <th style="width:15%">Program</th>
 <th style="width:15%">Concept Note</th>
        <th style="width:10%">Initiator</th>
         <th class="text-center" style="width:10%">MEL</th>
        <th style="width:12%">Techncial</th>
         <th style="width:12%">Finance</th>
        <th style="width:12%">Program</th>
       
        <th class="vertical-align-mid"></th>
      </tr>
    </thead>
    <tbody>
       
     {% for program in program_users %}
     <tr>
       <td>{{ forloop.counter}}</td>
       <td>{{ program.program }}</td>
    
       <td>Intervention
       </br></br>
       Activity
       </td>
       <td class="text-center"> <div class="icheckbox_flat-green {% if program.is_pcn_initiator %}checked{% endif %}" style="position: relative;"><input type="checkbox" class="flat" style="position: absolute; opacity: 0;"><ins class="iCheck-helper" style="position: absolute; top: 0%; left: 0%; display: block; width: 80%; height: 100%; margin: 0px; padding: 0px; background: rgb(255, 255, 255); border: 0px; opacity: 0;"></ins></div>
       </br></br>
       <div class="icheckbox_flat-green {% if program.is_pacn_initiator %}checked{% endif %}" style="position: relative;"><input type="checkbox" class="flat" style="position: absolute; opacity: 0;"><ins class="iCheck-helper" style="position: absolute; top: 0%; left: 0%; display: block; width: 80%; height: 100%; margin: 0px; padding: 0px; background: rgb(255, 255, 255); border: 0px; opacity: 0;"></ins></div>
       </td>
       <td class="text-center"> <div class="icheckbox_flat-green {% if program.is_pcn_mel_approver %}checked{% endif %}" style="position: relative;"><input type="checkbox" class="flat" style="position: absolute; opacity: 0;"><ins class="iCheck-helper" style="position: absolute; top: 0%; left: 0%; display: block; width: 80%; height: 100%; margin: 0px; padding: 0px; background: rgb(255, 255, 255); border: 0px; opacity: 0;"></ins></div>
         </br></br>
       <div class="icheckbox_flat-green {% if program.is_pacn_mel_approver %}checked{% endif %}" style="position: relative;"><input type="checkbox" class="flat" style="position: absolute; opacity: 0;"><ins class="iCheck-helper" style="position: absolute; top: 0%; left: 0%; display: block; width: 80%; height: 100%; margin: 0px; padding: 0px; background: rgb(255, 255, 255); border: 0px; opacity: 0;"></ins></div>
       </td>
       <td class="text-center"> <div class="icheckbox_flat-green {% if program.is_pcn_technical_approver %}checked{% endif %}"  style="position: relative;"><input type="checkbox" class="flat" style="position: absolute; opacity: 0;"><ins class="iCheck-helper" style="position: absolute; top: 0%; left: 0%; display: block; width: 80%; height: 100%; margin: 0px; padding: 0px; background: rgb(255, 255, 255); border: 0px; opacity: 0;"></ins></div>
       </br></br>
       <div class="icheckbox_flat-green {% if program.is_pacn_technical_approver %}checked{% endif %}"  style="position: relative;"><input type="checkbox" class="flat" style="position: absolute; opacity: 0;"><ins class="iCheck-helper" style="position: absolute; top: 0%; left: 0%; display: block; width: 80%; height: 100%; margin: 0px; padding: 0px; background: rgb(255, 255, 255); border: 0px; opacity: 0;"></ins></div>
       </td>
         <td class="text-center"> <div class="icheckbox_flat-green {% if program.is_pcn_finance_approver %}checked{% endif %}"  style="position: relative;"><input type="checkbox" class="flat" style="position: absolute; opacity: 0;"><ins class="iCheck-helper" style="position: absolute; top: 0%; left: 0%; display: block; width: 80%; height: 100%; margin: 0px; padding: 0px; background: rgb(255, 255, 255); border: 0px; opacity: 0;"></ins></div>
       </br></br>
       <div class="icheckbox_flat-green {% if program.is_pacn_finance_approver %}checked{% endif %}"  style="position: relative;"><input type="checkbox" class="flat" style="position: absolute; opacity: 0;"><ins class="iCheck-helper" style="position: absolute; top: 0%; left: 0%; display: block; width: 80%; height: 100%; margin: 0px; padding: 0px; background: rgb(255, 255, 255); border: 0px; opacity: 0;"></ins></div>
       </td>
       <td class="text-center"><div class="icheckbox_flat-green {% if program.is_pcn_program_approver %}checked{% endif %}"  style="position: relative;"><input type="checkbox" class="flat" style="position: absolute; opacity: 0;"><ins class="iCheck-helper" style="position: absolute; top: 0%; left: 0%; display: block; width: 80%; height: 100%; margin: 0px; padding: 0px; background: rgb(255, 255, 255); border: 0px; opacity: 0;"></ins></div> 
       </br></br>
       <div class="icheckbox_flat-green {% if program.is_pacn_program_approver %}checked{% endif %}"  style="position: relative;"><input type="checkbox" class="flat" style="position: absolute; opacity: 0;"><ins class="iCheck-helper" style="position: absolute; top: 0%; left: 0%; display: block; width: 80%; height: 100%; margin: 0px; padding: 0px; background: rgb(255, 255, 255); border: 0px; opacity: 0;"></ins></div>
       </td>
     
        <td><button class="btn btn-info btn-sm btn-xs" hx-get="{% url 'update_user_program_roles' program.id %}"   hx-target="#dialog" class="btn btn-primary"><i class="fa fa-edit"></i></button></td>
     </tr>
      
     {% endfor %}
 
    </tbody>
  </table>