
<table class="table table-striped table-hover">
                <thead>
                  <tr>
                    <th>#</th>
                    <th>RID</th>
                    <th  style="width: 20%">Region </th>
                                          <th style="width: 10%"></th>
                    <th>ZID</th>
                    <th style="width: 20%">Zone </th>
                     <th style="width: 10%"></th>
                    <th>WID</th>
                    <th  style="width: 20%">Woreda </th>
                    <th  style="width: 10%"></th>
                  </tr>
                </thead>
                <tbody>
                {% for woredas in woreda %}
                <tr> <td> {{ forloop.counter}}</td>
                    <td>{{woredas.zone.region.id }}</td>
                    <td>{{woredas.zone.region.name }}</td>
                    <td class="text-center"><button class="btn btn-sm btn-info" hx-get="{% url 'edit_region' woredas.zone.region.id %}" hx-target="#dialog"><i class="fa fa-edit"></i> </button></td>
                    <td>{{woredas.zone.id }}</td>
                    <td>{{woredas.zone.name }}</td>
                    <td class="text-center"><button class="btn btn-sm btn-info" hx-get="{% url 'edit_zone' woredas.zone.id %}" hx-target="#dialog"><i class="fa fa-edit"></i> </button></td>
                    <td> {{ woredas.id}} </td>
                    <td> {{ woredas.name}}   </td>
                    
                   <td class="text-center">
                    <button class="btn btn-sm btn-info" hx-get="{% url 'edit_woreda' woredas.id %}" hx-target="#dialog"><i class="fa fa-edit"></i></button>
                   
                  
                    
                  </td>
                    
                </tr>
                {% endfor %}
                </tbody>
                </table>
           
{% if woreda.has_other_pages %}
  <ul class="pagination">
    {% if woreda.has_previous %}
      <li><a href="?page={{ woreda.previous_page_number }}"> &laquo;</a></li>
    {% else %}
      <li class="disabled"><span>&laquo;</span></li>
    {% endif %}
    {% for i in woreda.paginator.page_range %}
      {% if woreda.number == i %}
        <li class="paginate_button active active"><span>{{ i }} | <span class="sr-only">(current)</span></span></li>
      {% else %}
        <li><a href="?page={{ i }}">{{ i }} | </a></li>
      {% endif %}
    {% endfor %}
    {% if woreda.has_next %}
      <li><a href="?page={{ woreda.next_page_number }}"> &raquo;</a></li>
    {% else %}
      <li class="paginate_button previous disabled"><span>&raquo;</span></li>
    {% endif %}
  </ul>
{% endif %}
