
<table class="table table-striped projects">
                <thead>

                  <tr>
                  
                   
                   <th>Group</th>
                   <th>Permissions</th>
                 <th>Action</th>
                  </tr>
                </thead>
                <tbody>
                
                      
                  
                

              
               {% for g in groups %}
                 <tr>
                 
                 <td> {{g.name }} </td>
                
                 
                    
                  
                    <td> {% for permission in g.permissions.all %} {% if forloop.counter < 30  %}{{permission.name }}, {% endif %} {% endfor %}</td> 
                    
                   <td> <button class="btn btn-info btn-sm" hx-get="{% url 'group_edit' g.id %}" hx-target="#dialog"><i class="fa fa-edit"></i></button></td>
                 </tr>
             {% endfor %}
             
                    
                      
                  
                  
                 
                
               
                  
                </tbody>
              </table>