  {% load static %}

               <style>
    th {
      text-align: center;

    }
    </style>

              <!-- start project list -->

              <table class="table table-striped">
                     
                  
                <thead>
                              <tr>
                    <th style="width:">#</th>
                     
                    <th style="width: 10%">Intervention</th>
                    <th style="width: 30%">Activity ID/Title</th>
                    <th style="width: 18%">Team Members</th>
               
                    <th style="width:12%">Date<small> (Start/End)</small></th>
                   <th style="width:10%">Status <small>(ACN)</small></th>
                      <th style="width:12%">Status <small>(Report)</small></th>
                     <th >Action</th>
                     </tr>
                     
                </thead>
                <tbody>
                {% if activities %}
                    {% for activity in activities %}
                  <tr>
                    <td>{{ forloop.counter }}</td>
<td> {{ activity.icn.icn_number }}</br>
<small>{{ activity.icn.program }}</small></td>
                    <td>{{activity.acn_number}}</br>
                      <small>{{ activity.title }}</small>
                     
                    </td>
                    <td>
                      <ul class="list-inline">
                        
                            <li>
                          <img src="{% static 'images/user.png' %}" class="avatar" title="{{ activity.user }}">
                        </li>
                      
                        <li>
                          <img src="{% static 'images/user.png' %}" class="avatar" title="{{ activity.technical_lead.user }}">
                        </li>
                           <li>
                         <img src="{% static 'images/user.png' %}" class="avatar" title="{{ activity.finance_lead.user }}">
                        </li>
                          <li>
                          
                           <img src="{% static 'images/user.png' %}" class="avatar" title="{{ activity.program_lead.user }}">
                        </li>
                        
                      </ul>
                    </td>
                    <td>
                        <small>{{ activity.proposed_start_date }}</small>
                        <br />
                        <small>{{ activity.proposed_end_date }}</small>
                    </td>
                    <td>
                    {% if activity.status == True %}
                      <span class="badge {% if 'Rejected' in activity.approval_status %} bg-red {% elif 'Approved' in activity.approval_status %} bg-green {% else %} bg-warning {% endif %}">{% if activity.approval_status %} {{ activity.approval_status}} {% else %} Pending {% endif %}</span>
                      {% else %}
                      <span class="badge {% if activity.status == True %}badge bg-green {% else %} badge bg-red {% endif %}">{{ activity.get_status_display}}</span>
                      {% endif %}
                   </td>
                  <td>
                     {% if not activity.activityreport or activity.approval_status != '100% Approved' %}
                      <span class="badge badge bg-default">{{activity.final_report_due_date}}</span>
                   {% elif activity.activityreport.status == True %}
                      <span class="badge {% if 'Rejected' in activity.activityreport.approval_status %} bg-red {% elif 'Approved' in activity.activityreport.approval_status %} bg-green {% else %} bg-warning {% endif %}">{% if activity.activityreport.approval_status %} {{ activity.activityreport.approval_status}} {% else %} Pending {% endif %}</span>
                     {% elif activity.activityreport.status == False %}
                    <span class="badge {% if activity.activityreport and activity.activityreport.status == True %}badge bg-green {% else %} badge bg-warning {% endif %}">{{ activity.activityreport.get_status_display}}</span>
                     {% endif %}
                    </td>
                    
                    
                      <td class=" last"><a href="{% url 'activity_detail' activity.id %}">View</a>
                    
                     
                    </td>
                  </tr>
                  {% endfor %}
                  {% endif %}
                </tbody>
              </table>
