 {% load humanize %}
      <table class="data table table-sm table-striped no-margin" style="width:100%">
        <thead>
            <tr>
              <th>#</th>
           <th >Title</th>
              <th>Description</th>
            <th >Pilot</th>
             <th >Scaleup</th>
            <th >Program indicators</th>
               
            </tr>
        </thead>
        <tbody>
            {%  if impacts %}
            {% for impact in impacts %}
            <tr>
               <td>{{forloop.counter}}</td>
           
                <td class="vertical-align-mid">
                                    
                                  {{ impact.title }}</td>
                <td class="vertical-align-mid">{{ impact.description }}</td>
                <td class="vertical-align-mid">{{ impact.impact_pilot|intcomma }}</td>
                <td class="vertical-align-mid">{{ impact.impact_scaleup|intcomma }}</td>
                <td class="vertical-align-mid">
                {% for indicator in impact.indicators.all %}
                        <li>
                         {{ indicator.indicator_no }}
                        </li>
                         
                        {% endfor %}

                
                </td>
                <td class="vertical-align-mid">
                  <a class="btn btn-sm btn-info source" {% if icn.status == True or icn.user != request.user %} IareaListChanged from:body, onclick="new PNotify({
                                  title: 'Permission',
                                  text: 'Current User doesnot match with ICN Owner and/or ICN submission status should be Draft;',
                                  type: 'info',
                                  styling: 'bootstrap3'
                              });" {% else %} hx-get="{% url 'icn_edit_impact' pk=impact.pk %} {% endif %}" hx-target="#dialog" ><i class="fa fa-edit m-right-xs"></i></a>
                   
                 
                    
                    
                    
                </td>
            </tr>
            {% endfor %}
            
        </tbody>
{% endif %}
    </table>
   

