{% load widget_tweaks %}
{% with WIDGET_ERROR_CLASS='is-invalid' %}
<form hx-post="{{ request.path }}" hx-headers='{"X-CSRFToken":"{{ csrf_token }}"}' class="modal-content">
    {% csrf_token %}  
 {{ form.media.css }}
<style>
        input, select {width: 100%}
    </style>
<div class="modal-header">
    <h5 class="modal-title">Impact Form</h5>
    <button type="button" class="btn-close" class="close" data-bs-dismiss="modal" aria-label="Close"></button>
  </div>
  <div class="modal-body">
   <div class="item form-group">
                            <label class="col-form-label col-md-2 col-sm-2 label-align" for="first-name">Title:<span class="required">*</span>
                            </label>
                            <div class="col-md-8 col-sm-8 ">
                                
                                    {% render_field form.title class+="form-control form-control-sm" %}
                                    <div class="invalid-feedback">{{ form.title.errors|first }}</div>
                            </div>
                        
                        </div>
     <div class="item form-group">
                            <label class="col-form-label col-md-2 col-sm-2 label-align" for="first-name">Disaggregate:<span class="required">*</span>
                            </label>
                            <div class="col-md-8 col-sm-8 ">
                                
                                    {% render_field form.description class+="form-control form-control-sm" %}
                                    <div class="invalid-feedback">{{ form.description.errors|first }}</div>
                            </div>
                        
                        </div>
       <div class="item form-group">
                            <label class="col-form-label col-md-2 col-sm-2 label-align" for="first-name">impact_pilot:<span class="required">*</span>
                            </label>
                            <div class="col-md-8 col-sm-8 ">
                                
                                    {% render_field form.impact_pilot class+="form-control form-control-sm" %}
                                    <div class="invalid-feedback">{{ form.impact_pilot.errors|first }}</div>
                            </div>
                        
                        </div>
           <div class="item form-group">
                                                <label class="col-form-label col-md-2 col-sm-2 label-align" for="first-name">impact_scaleup:<span class="required">*</span>
                                                </label>
                                                <div class="col-md-8 col-sm-8 ">
                          {% render_field form.impact_scaleup class+="form-control form-control-sm " %}
                          <div class="invalid-feedback">{{ form.impact_scaleup.errors|first }}</div>
                        </div>
                                            
                        </div>
     <div class="item form-group">
                            
                                <label class="col-form-label col-md-2 col-sm-2 label-align" for="indicators">Program Indicators:<span class="required">*</span>
                                </label>
                                <div class="col-md-8 col-sm-8">
                                  
                                  {% render_field form.indicators class+="form-control form-control-sm form-select form-select-solid" attr="data-control:select2" %}
                                    <div class="invalid-feedback">{{ form.indicators.errors|first }}</div>
                                </div>
                        </div>

</div>
  <div class="modal-footer">
          {% if indicator %}
          <button type="button" class="btn btn-danger btn-sm" hx-post="{% url 'remove_indicator' pk=indicator.pk %}">Remove</button>
          <span class="flex-grow-1"></span>
          {% endif %}
          <button type="button" class="btn btn-secondary btn-sm" data-bs-dismiss="modal">
            Cancel
          </button>
          <button type="submit" class="btn btn-primary btn-sm">Save changes</button>
  </div>
</form>
{% endwith %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.3/css/select2.css" rel="stylesheet"/>

    {{ form.media.js }}


   <div>
        <button type="button" 
          hx-trigger="click"
          hx-get="{% url 'add_impact_form'  %}"
          hx-swap="outerHTML">
    Add formset
  </button> 
         </div> 