{% autoescape off %}
Program: {{program}}
Title: {{title}}
Submitted by: {{initiator }}
Concept Note Version: {{version}}
Submission note: 
{{submission_note }}
Date: {{date}}

http://127.0.0.1:8000{% url 'icn_submit_approval' id  %}

https://cnms.onrender.com{% url 'icn_submit_approval' id  %}

Please visit above link to review and approve the concept note.
If clicking the link above doesn't work, please copy and paste the URL in a new browser
window instead.

  Sincerely,
  CNMS App
{% endautoescape %}