<form method="POST">
       
        <tr>
        <td>{{forloop.counter}}</td>
        <td>{{impact_form.title}}</td>
        <td>{{impact_form.impact_pilot}}</td>
        <td>{{impact_form.impact_scaleup}}</td>
        <td>{{impact_form.indicators}}</td>
        </tr>
</form>    
         <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.3/css/select2.css" rel="stylesheet"/>

    {{ form.media.js }}